@media screen and (min-width: 400px) {
  .section-1-footer {
    max-width: 569px;/**/
    
  }

  /*INICIA ETIQUETA H5 FOOTER DESARROLLO, SQL, WSERVER*/
.article-2-footer {
  max-width: 350px;/**/
  } 

}


@media screen and (min-width: 1100px) {
 
  
  /*INICIAN LOS CIRCULOS PRINCIPALES
  */

  /*--- inicia la seccion contenedor de los 4 circulos principales*/
  .section-3 {
    display: flex;/**/  
    justify-content: center;/**/
    flex-direction: row;/**/
    align-items: center;/**/
    
    width: 95%;/**/
    margin-top: 200px;/**/
    margin-bottom: 200px;/**/
  }
       
  /*--- inicia article de los 4 circulos principales*/
  .article-3 {
    margin: -5px;/**/
  }
  /* ---- FINALIZAN LOS CIRCULOS PRINCIPALES
  */

  /*  
  */

  /* ---- INICIA CONTENIDO FOOTER
  */  
.section-1-footer {
  display: flex;/**/
  flex-direction: row;/**/
  justify-content: space-around;/**/
  max-width: 1300px;/**/
  margin-top: 125px;/**/
  border: solid 0;/**/
}   

.article-1-footer {
  max-width: 300px;/**/
  padding: 0;/**/
  border-radius: 15px;/**/
}

.h2-gps-footer {
  color: white;/**/
  text-align: center;/**/
  font-family: 'Syncopate-Regular';/**/ 
}

/* --- INICIA ARTICLE-2-FOOTER
*/
.article-2-footer {
  display: flex;/**/
  flex-direction: row;/**/
  justify-content: space-between;/**/
  max-width: 800px;/**/   
}

.h4-wrapper-footer {
  display: flex;/**/
  justify-content: center;/**/
  align-items: center;/**/
  
  width: 155px;/**/
  height: 155px;/**/
  padding: 0;
  border-radius: 100%;/**/
  border: solid rgba(236, 237, 242, 0.616) 1.5px;/**/
}

/*INICIA ETIQUETA H5 FOOTER DESARROLLO, SQL, WSERVER*/
.h4-footer {
  display: flex;/**/
  align-items: center;
  justify-content: center;
  
  width: 155px;/**/
  height: 155px;/**/
  text-align: center;
  border-radius: 100%;/**/
  margin: 0;/**/
}

}


