
.carousel {
        position: relative;
        width: 100%;
        max-width: 650px;
        overflow: hidden;
        /*margin: auto;/**/
        margin-top: 50px;
        border-radius: 20px;
        /*background-color: blue;/*Visualizador*/
    }
    .carousel-images {
        display: flex;
        border-radius: 20px;
        transition: transform 0.3s ease-in-out;
        /*background-color: darkgoldenrod;/*Visualizador*/
    }
    .carousel-images img {
        width: 100%;
        flex-shrink: 0;
        /*height: 100%;/**/
        max-height: 600px;
        border-radius: 20px;
    }
    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;/**/
        font-size: 2rem;
        cursor: pointer;
        z-index: 1;
    }
    .carousel-button.prev {
        left: 0;
    }
    .carousel-button.next {
        right: 0;
    }
