  /* --- INICIAN TIPOS DE LETRA PARA FOOTER Y CONTENIDO PRINCIPAL 
*/

/* --- FUENTE PARA LETRA DEL CONTENIDO PRINCIPAL Y EL FOOTER
*/
@font-face {
  font-family: 'Syncopate-Regular';
  src: url('../syncopate/Syncopate-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* --- FUENTE PARA EL MENU DE NAVEGACION 
*/
@font-face {
  font-family: 'Syncopate-Bold';
  src: url('../syncopate/Syncopate-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


/* --- FINALIZA TIPOS DE LETRA PARA FOOTER Y CONTENIDO PRINCIPAL
*/


/*--- inicia main div contenido principal
*/
  main {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  justify-content: center;/**/
  width: 100%;/**/
  /*background-color: rgb(18, 228, 63);/*VISUALIZADOR*/
}

/*
*/

/*--- Inicia section-1 Primer Texto
*/
.section-1 {
  display: flex;/**/
  justify-content: center;/**/
  width: 100%;
  max-width: 630px;/**/
  margin-top: 35px;/**/
  /*background-color: rgb(136, 15, 218);/*VISUALIZADOR*/
}

.article-bienvenidos {
  display: flex;/**/
  justify-content: center;/**/
  /*background-color: rgb(218, 32, 32);/*VISUALIZADOR*/
}
 
.h2-bienvenidos {
  width: 100%;/**/
  text-align: center;/**/
  font-family: 'Syncopate-Regular';
  letter-spacing: .2px;/**/
  text-transform: uppercase;/**/
  /*background-color: rgb(167, 189, 45);/*visualizador*/
}
/*------- finaliza primer article conel texto responsive web desing
*/



/*--- inicia la seccion contenedor de los 4 circulos principales*/
.section-3 {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  justify-items: stretch;/**/
  
  height: auto;/*no modificar este heigth*/
  margin-top: 76px;/**/
  /*background-color: rgba(48, 44, 46, 0.051);/*Visualizador*/
}
/*--- FINALIZA SECTION
*/

/*--- inicia article de los 4 circulos principales*/
.article-3 {
  display: flex;/**/
  justify-content: center;/**/
  align-items: center;/**/
  
  width: 280px;/**/
  height: 170px;/**/
  border-radius: 100%;/**/
  border: solid rgb(30, 45, 103) 1.5px;/**/
  /*background-color: blue;/**/
} 
/*--- FINALIZA ARTICLE
*/

/*--- inician los H5 de los articulos de los 4 circulos principales*/
.h3-circulos {
  display: flex;/**/
  justify-content: center;/**/
  align-items: center;/**/
  
  width:  240px;/**/
  height: 235px;/**/
  text-decoration: none;/**/
  text-align: center;/**/
  border-radius: 100%;/**/
  border: solid rgb(30, 45, 103) 1.5px;/**/
  /*background-color: aqua;/*Visualizador*/
}  

.h3-circulos a {
  display: block;/**/
  padding: 33px 25px 33px 25px;/**/
  
  border-radius: 100px; /**/
  text-decoration: none;/**/
  color: black;/**/
  font-family: 'Syncopate-Regular';/**/
  /*background-color: aquamarine;/**/
}

/*--- FINALIZA H5 Circulos
*/


/*
*/


/*INICIA ETIQUETA FOOTER*/
.footer-logo {
  margin-top: 130px;/**/
  /*background-color: rgb(0, 0, 0);/*V*/  
}
/* --- FINALIZA FOOTER LOGO
*/


/* INICIA FOOTERLOGO Y DIV*/  
.footer-logo > div {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  
  width: 100%;/**/
  background-color: rgb(0, 0, 0);/*visualizador*/
}
/* FINALIZA FOOTERLOGO Y DIV
*/


/* --- INICIA SECTION-1-FOOTER
*/
.section-1-footer {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  
  width: 95%;
  margin-top: 40px;/**/
  margin-bottom: 100px;
} 

.article-1-footer {
  width:  100%;/**/
  margin-bottom: 20px;/**/
}

.h2-gps-footer {
  color: white;/**/
  text-align: center;
  font-family: 'Syncopate-Regular';/**/
}


/* --- INICIA ARTICLE-2-FOOTER
  */
.article-2-footer {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
    
  width: 85%;/**/
}

.h4-wrapper-footer {
  display: flex;/**/
  justify-content: center;/**/
  
  width: 100%;/**/
  margin: 15px;/*margen para separar los bloques*/
  border-radius: 20px;/**/
  background-color: rgba(29, 56, 67, 0.541);/*No borrar*/
}

/*INICIA ETIQUETA H5 FOOTER DESARROLLO, SQL, WSERVER*/
.h4-footer {
  color: white;/**/
  text-align: center;/**/
  font-family: 'Syncopate-Regular';/**/
}

/*

*/

/* INICIA FOOTERLOGO .FIGURE-IMG-LINUX*/
.figure-img-linux {
  padding: 0;/**/  
  margin-bottom: 0;/**/
}

/*INICIA LA IMAGEN DE LINUX*/  
.img-linux {
  width: 50px;/**/
  height: 50px;/**/
}

/*INICIA .reservados (DERECHOS RESERVADOS)*/
.reservados {
  width: 100%;/**/
  text-align: center;/**/
  color: white;/**/
  line-height: 1.5; /* Ajusta la altura de línea si es necesario */
  font-family: 'Syncopate-Regular';/**/
}

/*INICIA .line-break SALTO DE LINEA*/
.line-break {
  display: block; /* Forzar un salto de línea */
}

/*INICIA .footer-span (DERECHOS RESERVADOS)*/
.footer-span {
  color: #0756d4;/**/
}
