  /* --- INICIAN TIPOS DE LETRA PARA FOOTER Y CONTENIDO PRINCIPAL 
*/

/* --- FUENTE PARA LETRA DEL CONTENIDO PRINCIPAL Y EL FOOTER
*/
@font-face {
  font-family: 'Syncopate-Regular';
  src: url('../syncopate/Syncopate-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* --- FUENTE PARA EL MENU DE NAVEGACION 
*/

@font-face {
  font-family: 'Syncopate-Bold';
  src: url('../syncopate/Syncopate-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* --- FINALIZA TIPOS DE LETRA PARA FOOTER Y CONTENIDO PRINCIPAL
*/


@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  src: url('../Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* --- FUENTE PARA EL MENU DE NAVEGACION 
*/

/*
*/

/*--- inicia main div contenido principal
*/
  main {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  justify-content: center;/**/
  width: 100%;/**/
  /*background-color: rgb(18, 228, 63);/*VISUALIZADOR*/
}

/*
*/

/* --- --- INICIA SECTION CONTENIDO GENERAL
*/
.section-titulo { /*SECTION TITULO PRINCIPAL*/
  display: flex;/**/
  justify-content: center;/**/
  width: 95%;/**/
  /*background-color: #007BFF;/**/
}

.article-titulo {
 /*background-color: rgb(218, 32, 32);/*VISUALIZADOR*/
}

.h2-titulo-principal {
  
  text-align: center;/**/
  font-family: 'Montserrat-VariableFont_wght';/**/
}

/*
*/

.section-1 {
  display: flex;/**/
  flex-direction: column;
  width: 95%;
  /*background-color: cadetblue;/*Visualizador*/
}

.article-1 {
  width: 100%;/**/
  max-width: 999px;/*no borrar*/
  /*background-color: rgb(218, 32, 32);/*VISUALIZADOR*/
}

.h3-titulo {/*SUBTITULOS DE LI*/
  margin-top: 45px;/**/
  text-align: left;/**/
  font-family: 'Montserrat-VariableFont_wght';
}   


.ol-li .li-1 {/*LI TEXTO PRINCIPAL*/
  font-size: 19px;/**/
  font-family: 'Montserrat-VariableFont_wght';
}

.ul-li .li-1 {/*LI TEXTO PRINCIPAL*/
  font-size: 19px;/**/
  font-family: 'Montserrat-VariableFont_wght';
}

.p-texto {
  font-size: 19px;/**/
  font-family: 'Montserrat-VariableFont_wght';
  /*background-color: #007BFF;/**/
}
/*
*/  


/* Estilo del botón */
.back-button {
  width: 100%;/**/
  max-width: 100px;/**/
  margin-top: 69px;/**/
  margin-left: 10px;/**/
  padding: 10px 20px;/**/
  background-color: #007BFF; /**/
  color: white;/**/
  border: none;/**/
  border-radius: 5px;/**/
  font-size: 16px;/**/
  cursor: pointer;/**/
  font-family: 'Montserrat-VariableFont_wght';/**/
  transition: background-color 0.3s ease;/**/
}

.back-button:hover {
  background-color: #f30909;/**/
}

/*
*/

/*--- --- INICIA ETIQUETA FOOTER
*/
.footer-logo {
  margin-top: 69px;/**/
  /*background-color: rgb(0, 0, 0);/*V*/  
}

/* INICIA FOOTERLOGO Y DIV*/  
.footer-logo > div {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  
  width: 100%;/**/
  background-color: rgb(0, 0, 0);/*visualizador*/
}
/* FINALIZA FOOTERLOGO Y DIV
*/

/* --- INICIA SECTION-1-FOOTER
*/
.section-1-footer {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
  
  width: 95%;
  margin-top: 20px;/**/
  margin-bottom: 100px;
} 

.article-1-footer {
  width:  100%;/**/
  margin-bottom: 20px;/**/
}

.h2-gps-footer {
  color: white;/**/
  text-align: center;
  font-family: 'Syncopate-Regular';/**/
}


/*
*/

/* --- INICIA ARTICLE-2-FOOTER
*/
.article-2-footer {
  display: flex;/**/
  flex-direction: column;/**/
  align-items: center;/**/
    
  width: 85%;/**/
}

.h4-wrapper-footer {
  display: flex;/**/
  justify-content: center;/**/
  
  width: 100%;/**/
  margin: 15px;/*margen para separar los bloques*/
  border-radius: 20px;/**/
  background-color: rgba(36, 73, 88, 0.541);/*No borrar*/
}

/*INICIA ETIQUETA H5 FOOTER DESARROLLO, SQL, WSERVER*/
.h4-footer {
  color: white;/**/
  text-align: center;/**/
  font-family: 'Syncopate-Regular';/**/
}

/*
*/

/* INICIA FOOTERLOGO .FIGURE-IMG-LINUX*/
.figure-img-linux {
  padding: 0;/**/  
  margin-bottom: 0;/**/
  /*background-color: #007BFF;/**/
}

/*INICIA LA IMAGEN DE LINUX*/  
.img-linux {
  width: 50px;/**/
  height: 50px;/**/
}

/*INICIA .reservados (DERECHOS RESERVADOS)*/
.reservados {
  width: 100%;/**/
  text-align: center;/**/
  color: white;/**/
  line-height: 1.5; /* Ajusta la altura de línea si es necesario */
  font-family: 'Syncopate-Regular';/**/
}

/*INICIA .line-break SALTO DE LINEA*/
.line-break {
  display: block; /* Forzar un salto de línea */
}

/*INICIA .footer-span (DERECHOS RESERVADOS)*/
.footer-span {
  color: #0756d4;/**/
}
