/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

 
 @media screen and (min-width: 850px) {
	/* -- ALTERA LAS IMAGENES DEL SLIDE*/

.div-caption { /*se tiene que centrar este texto es el caption de la imagen*/
	display: flex;/**/
	justify-content:right;/**/
	/*justify-items:center;/**/
	/*align-items:center;/**/
	width: 97%;/*ESTE ES EK WIDTH QUE NOS PERMITE CENTRAR EL TEXTO TU MEJOR OPCION*/
	/*height: 100%;
	
	/*padding-right: 5em;/*text-align:center;/*DESACTIVADO*/
	/*align-content: center;
	font-family: 'Syncopate-Regular';/**/
	/*background-color: rgba(175, 47, 47, 0.452);/*VISUALIZADOR*/
}


 .nivo-caption p {
	/*padding: 0px;/*padding:5px; PREDETERMINADO SE MODIFICO A 1px POR PRUEBAS*/
	/*height: 115px;
	/*margin: 0px;/*margin:0; PREDETERMINADO, SE DESACTIVO POR PRUEBAS*/
	/*background-color: springgreen;/*VISUALIZADOR*/
}


}

/*  ----------------------------------------------------  ------------------------*/


/* The Nivo Slider styles */
@media screen and (min-width: 900px) {
	/* -- ALTERA LAS IMAGENES DEL SLIDE*/
.nivoSlider img {
	/*position:absolute;/**/ 
	/*top:0px;/**/
	/*left:0px;/**/
	/*max-width: none;/**/
	/*max-height: 800px;/**/
}
	

.div-caption { /*se tiene que centrar este texto es el caption de la imagen*/
	display: flex;/**/
	justify-content:right;/**/
	/*justify-items:center;/**/
	align-items:center;/**/
	width: 98%;/*ESTE ES EK WIDTH QUE NOS PERMITE CENTRAR EL TEXTO TU MEJOR OPCION*/
	height: 100%;
	padding-right: 5em;/*text-align:center;/*DESACTIVADO*/
	/*align-content: center;
	font-family: 'Syncopate-Regular';/**/
	/*background-color: rgba(175, 47, 47, 0.452);/*VISUALIZADOR*/
 }


 .nivo-caption p {
	/*padding: 0px;/*padding:5px; PREDETERMINADO SE MODIFICO A 1px POR PRUEBAS*/
	/*width: 60%;
	/*height: 115px;/**/
	/*margin: 0px;/*margin:0; PREDETERMINADO, SE DESACTIVO POR PRUEBAS*/
	/*background-color: springgreen;/*VISUALIZADOR*/
}

}
  

/* The Nivo Slider styles */
@media screen and (min-width: 1200px) { 
	.div-caption { /*se tiene que centrar este texto es el caption de la imagen*/
		width: 94%;/*ESTE ES EK WIDTH QUE NOS PERMITE CENTRAR EL TEXTO TU MEJOR OPCION*/
	}
}


/* The Nivo Slider styles */
@media screen and (min-width: 1344px) { 
	.div-caption { /*se tiene que centrar este texto es el caption de la imagen*/
		width: 90%;/*ESTE ES EK WIDTH QUE NOS PERMITE CENTRAR EL TEXTO TU MEJOR OPCION*/
	}
}


/* The Nivo Slider styles */
@media screen and (min-width: 1700px) { 
	.div-caption { /*se tiene que centrar este texto es el caption de la imagen*/
		width: 90%;/*ESTE ES EK WIDTH QUE NOS PERMITE CENTRAR EL TEXTO TU MEJOR OPCION*/
	}

}

